<div class="card flex flex-column">
    <div class="flex align-items-center justify-content-center m-2" style="min-width: 200px; min-height: 100px">
        <app-form></app-form>
    </div>

    <div class="flex align-items-center justify-content-center m-2" style="min-width: 200px; min-height: 100px">
        <app-cinta></app-cinta>
    </div>

    <div class="flex align-items-center justify-content-center m-2" style="min-width: 200px; min-height: 100px">
        <app-grafo></app-grafo>
    </div>
</div>
